<div th:fragment="aboutMe" id="about">
    <div class="about-me">
        <div class="description">
            <div class="head">
                <div class="name-section">
                    <h3>Prince Raj Shrestha</h3>
                    <span id="location">Nardevi, Kathmandu, Nepal</span>
                </div>
                <div class="links">
                    <a href="#"><img th:src="@{/images/github-logo.png}" alt="github"></a>
                    <a href="#"><img th:src="@{/images/linked-in-logo.png}" alt="linkedin"></a>
                </div>
            </div>
            <p>I'm a young java backend developer. I've been programming for more than 5 years. I have worked on proffessional websites and apps.</p>
        </div>
    </div>
    <div class="technology">
        <h3 id="worked-with">What I've worked with:</h3>
        <div class="language">
            <p><img th:src="@{/images/java-logo.png}" alt="java"> Java</p>
            <p><img th:src="@{/images/spring-boot-logo.png}" alt="spring-boot"> Spring Boot</p>
            <p><img th:src="@{/images/html-logo.png}" alt="html"> HTML</p>
            <p><img th:src="@{/images/css-logo.png}" alt="css"> CSS</p>
            <p><img th:src="@{/images/javascript-logo.png}" alt="js"> JavaScript</p>
            <p><img th:src="@{/images/mysql-logo.png}" alt="mysql"> MySQL</p>
            <p><img th:src="@{/images/docker-logo.png}" alt="docker"> Docker</p>
        </div>
    </div>
</div>
