<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:if="${home}" th:href="@{/css/education.css}">
    <link rel="stylesheet" th:if="${projectInsideStyle}" th:href="@{/css/projectInside.css}">
</head>
<body>

<div class="container">
    <!-- Nav Bar -->
    <div th:replace="~{nav/navBar :: navBar}"></div>

    <div th:switch="${loadPage}">

        <div th:case="home">
            <!-- About Me -->
            <div th:replace="~{aboutMe :: aboutMe}"></div>

            <!-- Project List-->
            <div th:replace="~{projects :: my-project}"></div>

            <!-- Education-->
            <div th:replace="~{Education :: education}"></div>

        </div>
        <div th:case="projectInside">
            <div th:replace="projectInside :: project"></div>
        </div>
    </div>
</div>
</body>
</html>