<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:if="${onCheckStyle}" th:href="@{/css/onCheck.css}">
</head>
<body>

<div class="container">
    <!-- Nav Bar -->
    <div th:replace="~{nav/navBar :: navBar}"></div>

    <div th:switch="${activePage}">

        <div th:case="home">
            <!-- About Me -->
            <div th:replace="~{aboutMe :: aboutMe}"></div>

            <div th:replace="~{projects :: my-project}"></div>

        </div>

        <div th:case="onCheck">
            <div th:replace="onCheck :: onCheck"></div>
        </div>

        <div th:case="realState">
            <div th:replace="realState :: realState"></div>
        </div>

    </div>



</div>
<script>
    // Create the cursor glow element
    const glow = document.createElement('div');
    glow.classList.add('cursor-glow');
    document.body.appendChild(glow);

    // Update glow position on mouse move
    document.addEventListener('mousemove', (e) => {
        glow.style.left = e.clientX + 'px';
        glow.style.top = e.clientY + 'px';
    });
</script>
</body>
</html>