<div th:fragment="my-project">
    <div class="project-grid">
        <a th:each="p : ${projects}"
           th:href="@{${'/' + p.path}}"
            class = "project-card">
            <div class="project-image-wrapper">

                <img th:src="@{${p.image}}"
                     th:alt="${p.name}"
                     class="project-preview">

                <!-- Tech overlay (always visible) -->
                <div class="tech-overlay">
                    <p th:each="t : ${p.techStack}">
                        <img th:src="@{${t.icon}}" th:alt="${t.name}">
                        <span th:text="${t.name}"></span>
                    </p>
                </div>

            </div>

            <div class="project-info">
                <h2 th:text="${p.name}"></h2>
                <p th:text="${p.description}"></p>
            </div>
<!--            <h3>-->
<!--                <a th:href="@{${'/' + p.path}}" th:text="${p.name}"></a>-->
<!--            </h3>-->
        </a>

    </div>
</div>