<div th:fragment="my-project" id="projects">
    <h2>My Projects</h2>

    <div class="project-grid">
        <a th:each="p : ${projects}"
           th:href="@{${'/' + p.value.path}(visitingPage=${p.value.name})}"
           class="project-card">

            <div class="project-image-wrapper">

                <!-- GitHub overlay (no nested anchor) -->
                <div class="github-overlay"
                     th:attr="data-github=${p.value.githubUrl}">
                    <img th:src="@{/images/github-logo.png}" alt="github">
                </div>

                <img th:src="@{${p.value.image}}"
                     th:alt="${p.value.name}"
                     class="project-preview">

                <div class="tech-overlay">
                    <p th:each="t : ${p.value.techStack}">
                        <img th:src="@{${t.icon}}" th:alt="${t.name}">
                        <span th:text="${t.name}"></span>
                    </p>
                </div>

            </div>

            <div class="project-info">
                <h2 th:text="${p.value.name}"></h2>
                <p th:text="${p.value.subtitle}"></p>
            </div>

        </a>
    </div>
    <script>
        document.querySelectorAll('.github-overlay').forEach(element => {
            element.addEventListener('click', e => {
            e.stopPropagation();
            e.preventDefault();
            window.open(element.dataset.github, '_blank');
            });
        });
    </script>
</div>
